.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0.625rem;
}

.wordGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(80px, 110px));
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 1rem;
  }

  .wordGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(100px, 1fr));
  }
}

@media (min-width: 1280px) {
  .wordGrid {
    grid-template-rows: repeat(2, minmax(110px, 160px));
    align-content: center;
  }
}
